/* You can add global styles to this file, and also import other style files */
.routing-content {
    padding: 15px 30px;
}

tbody tr:hover {
    background-color: lightblue;
}

tbody tr:hover td {
    background-color: transparent;
}

tbody tr:hover th {
    background-color: transparent;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}