.boxnumber{
    width: 14.285%;
    text-align: center;
    border: solid black 1px;
    display: inline-block;
    position: relative;
}

.boxicon{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: red;
    opacity: 0.5;
}

.boxfooter{
    text-align: center;
    border: solid black 1px;
}